<h2>User</h2>

<p id="notice"><%= notice %></p>

<%= form_tag(@url, method: @method) do %>
  <table id='users' class="display display_only">
    <thead>
      <tr>
        <th align="left">Field</th>
        <th align="left">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr><td>Name</td><td><%= text_field_tag "name", @record["name"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Password</td><td><%= password_field_tag "password", "", size: "50", maxlength: "254" %></td></tr>
      <tr><td>Password Confirmation</td><td><%= password_field_tag "password_confirmation", "", size: "50", maxlength: "254" %></td></tr>
      <tr><td>Admin</td><td><%= check_box_tag "admin", '1', @record["admin"] %></td></tr>
    </tbody>
  </table>
  <br/>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
