<%= form_for(@video, url: @url) do |f| %>
  <table id='video_info' class="display display_only">
    <thead>
      <tr>
        <th align="left">Field</th>
        <th align="left">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr><td>UChannel ID</td><td><%= f.text_field :uchannel_id, :size=>"50", :maxlength=>"254" %></td></tr>
      <tr><td>Youtube ID</td><td><%= f.text_field :youtube_id, :size=>"50", :maxlength=>"254" %></td></tr>
      <tr><td>Duration (second)</td><td><%= f.text_field :duration, :size=>"50", :maxlength=>"254" %></td></tr>
      <tr><td>Published At</td><td><%= f.text_field :published_at, :size=>"50", :maxlength=>"254" %></td></tr>
      <tr><td>Title</td><td><%= f.text_field :title, :size=>"50", :maxlength=>"254" %></td></tr>
      <tr><td>Description</td><td><%= f.text_area :description, cols: "50", rows: "5"%></td></tr>
      <tr><td>Thumbnail Small</td><td><%= f.text_field :thumbnail_small, :size=>"50", :maxlength=>"254" %></td></tr>
      <tr><td>Thumbnail Medium</td><td><%= f.text_field :thumbnail_medium, :size=>"50", :maxlength=>"254" %></td></tr>
      <tr><td>Thumbnail Large</td><td><%= f.text_field :thumbnail_large, :size=>"50", :maxlength=>"254" %></td></tr>
      <tr><td>Tags</td><td><%= f.text_area :tags, cols: "50", rows: "3" %></td></tr>
      <tr><td>Category ID</td><td><%= f.text_field :category_id, :size=>"50", :maxlength=>"254" %></td></tr>
      <tr><td>Live Broadcast Content</td><td><%= f.text_field :live_broadcast_content, :size=>"50", :maxlength=>"254" %></td></tr>
      <tr><td>Upload Status</td><td><%= f.text_field :upload_status, :size=>"50", :maxlength=>"254" %></td></tr>
      <tr><td>Privacy Status</td><td><%= f.text_field :privacy_status, :size=>"50", :maxlength=>"254" %></td></tr>
      <tr><td>Embeddable</td><td><%= f.check_box :embeddable %></td></tr>
    </tbody>
  </table>

  <p/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
