<h2>Youtube Video</h2>

<p id="notice"><%= notice %></p>

<% if ! @record.nil? %>
  <table id='video_info' class="display display_only">
    <thead>
      <tr>
        <th align="left">Field</th>
        <th align="left">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr><td>Youtube ID</td><td><%= link_to @record["youtube_id"], "https://www.youtube.com/watch?v=" + @record["youtube_id"], target: "_blank" %></td></tr>
      <tr><td>Duration</td><td><%= @record["duration"] %></td></tr>
      <tr><td>Published At</td><td><%= @record["published_at"] %></td></tr>
      <tr><td>Title</td><td><%= @record["title"] %></td></tr>
      <tr><td>Description</td>
        <td>
          <% @record["description"].split("\n").each do |line| %>
          <%= line %><br/>
          <% end %>
        </td>
      </tr>
      <tr><td>Tags</td><td><%= @record["tags"] %></td></tr>
      <tr><td>Category ID</td><td><%= @record["category_id"] %></td></tr>
      <tr><td>Association</td><td><%= link_to 'View', video_upload_admin_index_path("host" => "youtube", "host_id" => @record["youtube_id"]) %></td></tr>
      <tr><td>Live Broadcast Content</td><td><%= @record["live_broadcast_content"] %></td></tr>
      <tr><td>Upload Status</td><td><%= @record["upload_status"] %></td></tr>
      <tr><td>Privacy Status</td><td><%= @record["privacy_status"] %></td></tr>
      <tr><td>Embeddable</td><td><%= @record["embeddable"] %></td></tr>
      <tr><td>Thumbnail Small</td><td><%= image_tag(@record["thumbnail_small"]) %></td></tr>
      <tr><td>Thumbnail Medium</td><td><%= image_tag(@record["thumbnail_medium"]) %></td></tr>
      <tr><td>Thumbnail Large</td><td><%= image_tag(@record["thumbnail_large"]) %></td></tr>
    </tbody>
  </table>

  <br/>

  <%= link_to 'Edit', action: 'edit', id: @record["youtube_id"] %>
<% end %>  
