<h2>Vimeo Video</h2>
<p id="notice"><%= notice %></p>
<br/>

<h3>Query</h3>
<%= form_tag do %>
  <table id='list_query' class="display display_only">
    <thead>
      <tr>
        <th align="left">Field</th>
        <th align="left">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr><td>limit</td><td><%= text_field_tag :limit, @limit, :size=>"50", :maxlength=>"254" %></td></tr>
    </tbody>
  </table>

  <p/>
  <div class="actions">
    <%= submit_tag 'Submit' %>
  </div>
<% end %>

<br/>
<h3>List</h3>
<table id='videos_list' class="display data_full">
  <thead>
    <tr>
      <th align="left">Vimeo ID</th>
      <th align="left">Title</th>
      <th align="left">Published At</th>
      <th align="left">Expired</th>
      <th align="left">Association</th>
      <th align="left">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |video| %>
      <tr>
        <td><%= link_to video["vimeo_id"], "https://vimeo.com/channels/#{video["channel_id"]}/#{video["vimeo_id"]}", target: "_blank" %></td>
        <td><%= link_to video["title"], {action: 'show', id: video["vimeo_id"]} %></td>
        <td><%= video["published_at"] %></td>
        <td><%= video["expired"] %></td>
        <td><%= link_to 'View', video_upload_admin_index_path("host" => "vimeo", "host_id" => video["vimeo_id"]) %></td>
        <td><%= link_to 'Delete', {action: 'destroy', id: video["vimeo_id"]}, method: 'delete', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
