<h2>Video Uploads</h2>
<p id="notice"><%= notice %></p>

<table id='upload_list' class="display data_full">
  <thead>
    <tr>
      <th align="left">ID</th>
      <th align="left">Video ID</th>
      <th align="left">Host</th>
      <th align="left">Host ID</th>
      <th align="left">Enabled</th>
      <th align="left">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |upload| %>
      <tr>
        <td><%= link_to upload["id"], action: 'show', id: upload["id"] %></td>
        <td><%= link_to upload["video_id"], {controller: 'video_admin', action: 'show', id: upload["video_id"]} %></td>
        <td><%= upload["host"] %></td>
        <td><%= link_to upload["host_id"], {controller: "#{upload["host"]}_upload_admin", action: 'show', id: upload["host_id"]} %></td>
        <td><%= upload["enabled"] %></td>
        <td><%= link_to 'Delete', {action: 'destroy', id: upload["id"]}, method: 'delete', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p/>
<%= link_to 'Add', action: 'new' %>
