<%= form_tag(@url, method: @method) do %>
  <table id='video_info' class="display display_only">
    <thead>
      <tr>
        <th align="left">Field</th>
        <th align="left">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr><td>Name</td><td><%= text_field_tag "name", @record["name"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Source</td><td><%= text_field_tag "source", @record["source"], size: "50", maxlength: "254" %></td></tr>
      <tr><td>Duration (seconds)</td><td><%= text_field_tag "duration", @record["duration"], size: "50", maxlength: "254" %></td></tr>
      <tr><td>Video URL</td><td><%= text_field_tag "video_url", @record["video_url"], size: "50", maxlength: "254" %></td></tr>
      <tr><td>Expired</td><td><%= check_box_tag "expired", '1', @record["expired"] %></td></tr>
    </tbody>
  </table>

  <p/>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
