<h2>Filler Video List</h2>
<% if !notice.nil? %>
<p id="notice"><%= notice %></p>
<% end %>

<h3>Query</h3>
<%= form_tag do %>
  <table id='list_query' class="display display_only">
    <thead>
      <tr>
        <th align="left">Field</th>
        <th align="left">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr><td>Maximum Filler Videos to List</td><td><%= text_field_tag :limit, @limit, :size=>"50", :maxlength=>"254" %></td></tr>
    </tbody>
  </table>

  <p/>
  <div class="actions">
    <%= submit_tag 'Submit' %>
  </div>
<% end %>


<table id='videos_list' class="display data_full">
  <thead>
    <tr>
      <th align="left">ID</th>
      <th align="left">Name</th>
      <th align="left">Source</th>
      <th align="left">Duration</th>
      <th align="left">Expired</th>
      <th align="left">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |video| %>
      <tr>
        <td><%= link_to video["id"], action: 'show', id: video["id"] %></td>
        <td><%= video["name"] %></td>
        <td><%= video["source"] %></td>
        <td><%= "%d:%02d" % [video["duration"]/60, video["duration"]%60] %></td>
        <td><%= video["expired"] %></td>
        <td><%= link_to 'Delete', {action: 'destroy', id: video["id"]}, method: 'delete', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
