<h2>Filler Video List</h2>
<p id="notice"><%= notice %></p>

<table id='videos_list' class="display data_full">
  <thead>
    <tr>
      <th align="left">ID</th>
      <th align="left">Name</th>
      <th align="left">Source</th>
      <th align="left">Duration</th>
      <th align="left">Expired</th>
      <th align="left">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= link_to video.id, action: 'show', id: video.id %></td>
        <td><%= video.name %></td>
        <td><%= video.source %></td>
        <td><%= "%d:%02d" % [video.length/60, video.length%60] %></td>
        <td><%= video.expired %></td>
        <td><%= link_to 'Delete', {action: 'destroy', id: video.id}, method: 'delete', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
